<div class="mobile-input-wrapper">
  <mat-form-field class="mobile-country-select" appearance='outline' #select *ngIf='dialCodeControl'>
    <mat-select [formControl]='dialCodeControl' placeholder="Dial Code">
      <mat-select-trigger>
        <div class="trigger-flag-warpper small" *ngIf="dialCodeControl.touched && dialCodeControl.value;else placeholder">
          <svg viewBox="0 0 45 48">
            <use [attr.xlink:href]="'assets/images/flag.defs.svg#'+dialCodeControl.value.code.toLowerCase()"></use>
          </svg>
          <div class="country-wrapper">
            <strong> +{{dialCodeControl.value.dialCode}}</strong>
          </div>
        </div>
        <ng-template #placeholder>
          <div>
            Dial Code
          </div>
        </ng-template>
      </mat-select-trigger>
      <mat-option>
        <ngx-mat-select-search [placeholderLabel]="'Find country...'"
          [noEntriesFoundLabel]="'no matching country found'" [formControl]="filterCtrl"></ngx-mat-select-search>
      </mat-option>
      <ng-template #loader>
        <mat-option disabled value="" class="loader">
          <mat-spinner diameter='30' style="display: flex;">
          </mat-spinner>
          <span class="loading-lablel">
            Loading...
          </span>
        </mat-option>
      </ng-template>
      <ng-container *ngIf="!isLoading;else loader">
        <mat-option *ngFor="let country of filteredcountryData| async" [value]="country">
          <div class="flag-warpper">
            <svg viewBox="0 0 45 48">
              <use [attr.xlink:href]="'assets/images/flag.defs.svg#'+country.code.toLowerCase()"></use>
            </svg>
            <div class="country-wrapper">
              <strong>+{{country.dialCode}}</strong>
              {{country.name}}
            </div>
          </div>
        </mat-option>
      </ng-container>
    </mat-select>
  </mat-form-field>
  <mat-form-field value="Sushi" appearance='outline' class="mobile-text-input" #input *ngIf='control'>

    <input matInput placeholder="Mobile no." type='tel' [formControl]='control'>
  </mat-form-field>
</div>
